@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- Jobs Categories -->

<!-- Jobs Category Boxes / End -->
<!-- Features Jobs -->
<div class="section gray padding-top-60 padding-bottom-60">
	<div class="container">
		<div class="row">
			<div class="col-xl-12">
				<div class="utf-section-headline-item centered margin-top-0 margin-bottom-40">
					<span>Jobs Listing</span>
					<h3>Features Jobs Post</h3>
					<div class="utf-headline-display-inner-item">Jobs Listing</div>
					<p class="utf-slogan-text">Lorem Ipsum is simply dummy text printing and type setting industry Lorem Ipsum been industry standard dummy text ever since when unknown printer took a galley.</p>
				</div>
				<div class="utf-listings-container-part compact-list-layout margin-top-35">
					@foreach(var item in Model)
					{
						<a asp-action="Details" asp-controller="Careers" asp-route-id="@item.Id" class="utf-job-listing utf-apply-button-item">
							<div class="utf-job-listing-details">
								<div class="utf-job-listing-description">
									<h3 class="utf-job-listing-title">@item.Title</h3>
									<div class="utf-job-listing-footer">
										<ul>
											<li><i class="icon-feather-briefcase"></i> @(item.Status ? "Are recruiting" : "Recruitment is over")</li>
											<li><i class="icon-material-outline-access-time"></i> @item.StartDate.ToString("dd/MM/yyyy") - @item.EndDate.ToString("dd/MM/yyyy")</li>
										</ul>
									</div>
								</div>
								<span class="list-apply-button ripple-effect">Browse Job <i class="icon-line-awesome-bullhorn"></i></span>
							</div>
						</a>
					}	
				</div>
				<div class="utf-centered-button margin-top-10">
					<a asp-action="Index" asp-controller="Careers" class="button utf-ripple-effect-dark utf-button-sliding-icon margin-top-20">Browse All Jobs <i class="icon-feather-chevron-right"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Features Jobs / End -->
<!-- Features Cities -->
<div class="section margin-top-65 margin-bottom-60">
	<div class="container">
		<div class="row">
			<div class="col-xl-12">
				<div class="utf-section-headline-item centered margin-top-0 margin-bottom-40">
					<span>Jobs Location</span>
					<h3>Companies By Location</h3>
					<div class="utf-headline-display-inner-item">Jobs Location</div>
					<p class="utf-slogan-text">Lorem Ipsum is simply dummy text printing and type setting industry Lorem Ipsum been industry standard dummy text ever since when unknown printer took a galley.</p>
				</div>
			</div>
			@foreach (var item in @ViewBag.listbranche)
			{
				<div class="col-xl-4 col-md-6">
					<a asp-action="Index" asp-controller="Careers" class="photo-box" data-background-image="/client/images/popular-location-01.jpg">
						<div class="utf-opening-box-content-part">
							<h3>@item.Region</h3>
						</div>
					</a>
				</div>
			}
			<div class="utf-centered-button margin-top-10">
				<a asp-action="Index" asp-controller="Network" class="button utf-ripple-effect-dark utf-button-sliding-icon margin-top-20">Browse All Location <i class="icon-feather-chevron-right"></i></a>
			</div>
		</div>
	</div>
</div>
<!-- Features Cities / End -->
<!-- Photo Section -->
<div class="utf-photo-section-block" data-background-image="/client/images/section-background.jpg">
	<div class="text-content white-font">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-12 col-sm-12">
					<h2>Download Browse Hundreds of Jobs</h2>
					<p>Lorem Ipsum is simply dummy text of printing and type setting industry. Lorem Ipsum been industry standard dummy text ever since, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic type setting, remaining essentially unchanged. It was popularised.</p>
					<ul class="utf-download-text">
						<li>
							<a href="#" title="Windows App" data-tippy-placement="top">
								<i class="icon-line-awesome-windows"></i>
								<span>Windows</span>
								<p>Available Now</p>
							</a>
						</li>
						<li>
							<a href="#" title="App Store" data-tippy-placement="top">
								<i class="icon-line-awesome-apple"></i>
								<span>App Store</span>
								<p>Available Now</p>
							</a>
						</li>
						<li>
							<a href="#" title="Google Play" data-tippy-placement="top">
								<i class="icon-line-awesome-android"></i>
								<span>Google Play</span>
								<p>Get in On</p>
							</a>
						</li>
					</ul>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="download-img">
						<img src="images/mockup3.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Photo Section / End -->
<!-- Testimonials -->
<div class="section gray padding-top-65 padding-bottom-55">
	<div class="container">
		<div class="row">
			<div class="col-xl-12">
				<div class="utf-section-headline-item centered margin-top-0 margin-bottom-30">
					<span>Clients Say About Us</span>
					<h3>Our Customers Says</h3>
					<div class="utf-headline-display-inner-item">Clients Say About Us</div>
					<p class="utf-slogan-text">Lorem Ipsum is simply dummy text printing and type setting industry Lorem Ipsum been industry standard dummy text ever since when unknown printer took a galley.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Categories Carousel -->
	<div class="utf-carousel-container-block">
		<div class="utf-testimonial-carousel-block testimonials">
			<div class="utf-carousel-review-item">
				<div class="utf-testimonial-box">
					<div class="utf-testimonial-avatar-photo"> <img src="~/client/images/user_small_2.jpg" alt=""> </div>
					<div class="utf-testimonial-author-utf-detail-item">
						<h4>John Doe</h4>
						<span>Retail Corp</span>
					</div>
					<div class="testimonial">Star Securities has provided exceptional security services for our retail outlets. Their professional team ensures the safety of our premises at all times. Highly recommend their services!</div>
				</div>
			</div>
			<div class="utf-carousel-review-item">
				<div class="utf-testimonial-box">
					<div class="utf-testimonial-avatar-photo"> <img src="~/client/images/user_small_3.jpg" alt=""> </div>
					<div class="utf-testimonial-author-utf-detail-item">
						<h4>Jane Smith</h4>
						<span>City Bank</span>
					</div>
					<div class="testimonial">The manned guarding service provided by Star Securities has been instrumental in securing our bank branches. Their attention to detail and professionalism is unmatched.</div>
				</div>
			</div>
			<div class="utf-carousel-review-item">
				<div class="utf-testimonial-box">
					<div class="utf-testimonial-avatar-photo"> <img src="~/client/images/user_small_1.jpg" alt=""> </div>
					<div class="utf-testimonial-author-utf-detail-item">
						<h4>Michael Brown</h4>
						<span>Tech Solutions</span>
					</div>
					<div class="testimonial">We have been using Star's electronic security systems for our offices, and the service has been outstanding. Their technicians are well-trained, and the systems work flawlessly.</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Testimonials / End -->
<!-- Start Section Callout -->
<div class="jbm-section-callout">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-6 col-md-6 col-xs-12 callout-bg-1 callout-section-left pos-relative">
				<div class="callout-bg"></div>
				<div class="jbm-callout-in jbm-callout-in-padding pull-right">
					<div class="jbm-section-title margin-top-80 margin-bottom-80">
						<h2>Find Your Browse Companies</h2>
						<span class="section-tit-line"></span>
						<p>Lorem Ipsum is simply dummy text of printing and type setting industry. Lorem Ipsum been industry standard dummy text ever since, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
						<a asp-action="Browse" asp-controller="Careers" class="button utf-ripple-effect-dark utf-button-sliding-icon margin-top-10">Browse Companies <i class="icon-feather-chevrons-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-xl-6 col-md-6 col-xs-12 callout-bg-2 callout-section-right pos-relative">
				<div class="callout-bg"></div>
				<div class="jbm-callout-in jbm-callout-in-padding pull-left">
					<div class="jbm-section-title margin-bottom-80 margin-top-80">
						<h2>Find Your Browse Jobs</h2>
						<span class="section-tit-line"></span>
						<p>Lorem Ipsum is simply dummy text of printing and type setting industry. Lorem Ipsum been industry standard dummy text ever since, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
						<a asp-action="Index" asp-controller="Careers" class="button utf-ripple-effect-dark utf-button-sliding-icon margin-top-10">Browse Jobs <i class="icon-feather-chevrons-right"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Section Callout -->
<!-- Counters -->
<div class="section padding-top-60 padding-bottom-60">
	<div class="container">
		<div class="row">
			<div class="col-xl-12">
				<div class="utf-section-headline-item centered margin-top-0 margin-bottom-40">
					<span>Success Business Award</span>
					<h3>Our Success & Award</h3>
					<div class="utf-headline-display-inner-item">Success Business Award</div>
					<p class="utf-slogan-text">Lorem Ipsum is simply dummy text printing and type setting industry Lorem Ipsum been industry standard dummy text ever since when unknown printer took a galley.</p>
				</div>
			</div>
			<div class="col-xl-12 counter_inner_block">
				<div class="utf-counters-container-aera justify-content-center">
					<div class="col-xl-3">
						<div class="utf-single-counter">
							<i class="icon-feather-briefcase"></i>
							<div class="utf-counter-inner-item">
								<h3><span class="counter">@ViewBag.VacancyCount</span></h3>
								<span class="utf-counter-title">Live Jobs</span>
							</div>
						</div>
					</div>
					<div class="col-xl-3">
						<div class="utf-single-counter">
							<i class="icon-feather-users"></i>
							<div class="utf-counter-inner-item">
								<h3><span class="counter">@ViewBag.TotalQuantity</span></h3>
								<span class="utf-counter-title">Jobs Candidate</span>
							</div>
						</div>
					</div>
					
					<div class="col-xl-3">
						<div class="utf-single-counter">
							<i class="icon-material-outline-location-city"></i>
							<div class="utf-counter-inner-item">
								<h3><span class="counter">@ViewBag.BrancheCount</span></h3>
								<span class="utf-counter-title">Companies</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Counters / End -->
<!-- Subscribe Block Start -->
<section class="utf_cta_area_item utf_cta_area2_block">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="utf_subscribe_block">
					<div class="col-xl-8 col-md-7">
						<div class="section-heading">
							<h2 class="utf_sec_title_item utf_sec_title_item2">Subscribe to Our Newsletter!</h2>
							<p class="utf_sec_meta">Subscribe to get latest updates and information.</p>
						</div>
					</div>
					<div class="col-xl-4 col-md-5">
						<div class="contact-form-action">
							<form method="post">
								<i class="icon-material-baseline-mail-outline"></i>
								<input class="form-control" type="email" placeholder="Enter your email" required="">
								<button class="utf_theme_btn" type="submit">Subscribe</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Subscribe Block End -->